<div class="setobj_name">项目：</div>
<div class="setobj_box">
  <ul>
    <li><input id="search_products_all" name="products" type="radio" checked/> 全部</li>
    <li><input id="search_products_part" name="products" type="radio" /> 部分</li>
  </ul>
  <div>
    <div class="search">
      <div><label>类别：</label>
        <select id="product_type" name="product_type" disabled="disabled">
          <% @product_types.each do |key, value|%>
          <option value="<%= key %>"><%= value %></option>
          <% end %>
        </select>
      </div>
      <div><label>名称：</label><input id="product_name" name="product_name" type="text" disabled="disabled"/></div>
      <div><button id="product_search" class="search_btn" disabled="disabled">查询</button></div>
    </div>
    <fieldset class="popup_body_fieldset">
      <legend class="popup_body_title">查询结果</legend>
      <div id="search_products_result" class="popup_body_result">
        <ul>
          <% @products.each do |product| %>
          <li><input name="show_product[]" type="checkbox" value="<%= product.id %>"/><span><%= product.name %></span></li>
          <% end unless @products.nil? %>
        </ul>
      </div>
    </fieldset>
    <div class="pq"></div>
    <fieldset class="popup_body_fieldset">
      <legend class="popup_body_title">已选择</legend>
      <div id="has_selected_result" class="popup_body_result">    <!--已选择产品的层-->
      </div>
    </fieldset>
  </div>
</div>