<div class="popup_box">
  <h1>新建优惠卡<a href="JavaScript:void(0)" id="cancel" class="close">关闭</a></h1>
  <%= form_tag "/sv_cards", :multipart => true do %>
    <div class="popup_body">
      <div id="popup_body_area" class="popup_body_area">
        <div class="item">
          <label>名称：</label><input id="card_name" name="card_name" type="text"/>
        </div>
        <div class="item">
          <label>类型：</label>
          <select id="card_type" name="card_type">
            <option value="1" selected>储值卡</option>
            <option value="0">打折卡</option>
          </select>
        </div>
        
        <div class="item">
          <label>折扣：</label><input id="discount_value" name="discount_value" type="text" disabled="disabled"/>
        </div>
         <div class="item">
          <label>优惠卡金额：</label><input id="discount_price" name="discount_price" type="text" disabled="disabled"/>
        </div>
        <div class="item_textarea">
          <label>图片：</label>
          <input type="file" name="card_url" id="card_url"/>
        </div>
        <div class="item_textarea">
          <label>具体内容：</label><textarea id="card_description" name="card_description"class="width_textarea"></textarea>
        </div>
        <div id="setObj" class="setObj">
          <div class="setobj_name">项目：</div>
          <div class="setobj_box">
            <div class="seto_list">
              <span>充<input id="started_money" name="started_money" type="text" class="input_s"/>元</span>&nbsp;&nbsp;
              <span>送<input id="ended_money" name="ended_money" type="text" class="input_s"/>元</span>
            </div>
          </div>
        </div>
      </div>
      <div class="btn_box">
        <button type="button" class="confirm_btn" onclick="new_card_validate(this)">确定</button>
        <button type="button" class="cancel_btn">取消</button>
      <% end %>
    </div>
  </div>
</div>
