<div class="setobj_name">项目：</div>
<div class="setobj_box">
  <div class="seto_list">
    <span>充<input id="started_money" name="started_money" type="text" class="input_s"/>元</span>&nbsp;&nbsp;
    <span>送<input id="ended_money" name="ended_money" type="text" class="input_s"/>元</span>
  </div>
</div>