<div class="box">
  <div class="data_box">
    <div class="second_menu"><a href="#" class="hover">优惠卡</a><a href="#">销售情况</a><a href="#">使用情况明细</a><a href="#">使用情况汇总</a></div>
    <div class="data_menu"><a href="#" class="add_btn">新建优惠卡</a></div>
    <div class="clear"></div>
    <div class="data_body">
      <div>
        <div class="card_list">
          <% if @sv_cards.blank?  %>
            <h1>当前无任何优惠卡!</h1>
          <% else %>
            <% @sv_cards.each do |sv_card| %>
              <div class="card_list_box">
                <img src=<%= sv_card.img_url %> />
                <h2><%= sv_card.name %></h2>
                <% if sv_card.types.to_i == 1 %>
                  <p>类型:储值卡</p>
                  <p>内容:价值<%= sv_card.price %>元</p>
                <% elsif sv_card.types.to_i == 0 %>
                  <p>类型:打折卡</p>
                  <p>内容:可打--折</p>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <div class="clear"></div>
        </div>
        <div class="pageTurn">
          <%= will_paginate  @sv_cards, :previous_label => "上一页", :next_label=> "下一页", :class => "pageTurn" %>
        </div>
      </div>
    </div>
  </div>
</div>
