$("#search_products_result").html("<ul><% @products.each do |product| %><li><input name='show_product[]' type='checkbox' value='<%= product.id %>'/><span><%= product.name %></span></li><% end unless @products.nil? %></ul>");
$("input[name='show_product[]']").each(function(){      
   var obj = $(this);
   var s = $(this).val();
   $("input[name='product_hidden_id[]']").each(function(index){
     if($(this).val() == s){
        obj.attr("checked", "checked");
     }
   });
 });