<div class="box">
  <div class="data_box">
    <div class="second_menu">
      <a href="#">优惠卡</a>
      <a href="#" class="hover">销售情况</a>
      <a href="#">使用情况明细</a>
      <a href="#">使用情况汇总</a></div>
    <div class="search">
      <%= form_tag do %>
      <div><label>会员卡类型：</label>
        <select name="card_type">
          <option value="0">打折卡</option>
          <option value="1">储值卡</option>
        </select>
      </div>
      <div><label>时间：</label><input name="started_time" type="text"/>&nbsp;到&nbsp;<input name="ended_time" type="text"/></div>
      <div><button class="search_btn">查询</button></div>
      <% end %>
    </div>
    <div class="data_body_title">
      <span class="data_body_p">总销售量：<span class="red">500</span>张&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        总金额：<span class="red">50000</span>元</span>
    </div>
    <div class="clear"></div>
    <div class="data_body">
      <div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
          <thead>
            <tr class="hbg">
              <td>车牌号</td>
              <td>客户名称</td>
              <td>手机号码</td>
              <td>卡类型</td>
              <td>金额</td>
              <td>是否开据发票</td>
              <td>操作</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>浙A13644</td>
              <td>张丹</td>
              <td>1325654212</td>
              <td>储值卡</td>
              <td>10000</td>
              <td>是</td>
              <td><a href="#">已开据发票</a></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <div class="pageTurn">
          <a href="#" class="disabled">上一页</a>
          <a href="#" class="current">1</a>
          <a href="#?page=2">2</a>
          <a href="#?page=3">3</a>
          <a href="#?page=4">4</a>
          <a href="#?page=5">5</a>...<a href="#?page=199">199</a>
          <a href="#?page=200">200</a>
          <a href="#?page=2">下一页</a>
        </div>
      </div>
    </div>
  </div>
</div>

