<div class="box">
  <div class="data_box">
    <div class="clear"></div>
    <div class="data_body">
      <%= form_tag "/news" do %>
      <div>
        <div class="news_title">
          <input id="create_new_title" name="create_new_title" type="text"/>
        </div>
        <div class="news_details">
          <textarea id="create_new_content" name="create_new_content" cols="" rows=""></textarea>
        </div>
      </div>
      <div class="btn_box">
        <button type="submit" id="create_new_btn" class="confirm_btn">发布</button>
        <button type="reset" id="cancel_new_btn" class="cancel_btn">取消</button>
      </div>
      <% end %>
    </div>
  </div>
</div>