<li class="saved_model">
  <a name="edit_model" href="JavaScript:void(0)"><%= m.name %></a>
  <input type="hidden" value="<%= m.id %>"/>
  <input name="model_name" type="text" style="display:none" value="<%= m.name %>"/>
  <a name="del_model" href="JavaScript:void(0)" class="group_x">Close</a>
</li>