<div class="tab_popup add_img" style="display:none;">
  <div class="popup_box">
    <h1>添加图片<a href="javascript:void(0)" class="close">关闭</a></h1>
    <div class="popup_body">
      <div class="popup_body_area" id="img_div">
        <div class="item_textarea" >
          <label>图片：</label><input type=file name=aimg_url style="display: none;" id="0"  onchange="ye0.value=value" />
          <input name=ye0 type="text"   id="sale_img" class="width_input" />
          <input type="button" class="file_btn" value="浏览" onclick="aimg_url.click()"  />
        </div>
        <div class="item_textarea">
          <label>图片：</label><input type=file name=bimg_url style="display: none;"  id="1" onchange="ye1.value=value" />
          <input name=ye1 type="text"   id="sale_img" class="width_input" />
          <input type="button" class="file_btn" value="浏览" onclick="bimg_url.click()"  />
        </div>
        <div class="item_textarea">
          <label>图片：</label><input type=file name="cimg_url" style="display: none;" id="2"  onchange="ye2.value=value" />
          <input name=ye2 type="text"   id="sale_img" class="width_input" />
          <input type="button" class="file_btn" value="浏览" onclick="cimg_url.click()"  />
        </div>
        <div class="item_textarea">
          <label>图片：</label><input type=file name="dimg_url" style="display: none;" id="3"  onchange="ye3.value=value" />
          <input name=ye3 type="text"   id="sale_img" class="width_input" />
          <input type="button" class="file_btn" value="浏览" onclick="dimg_url.click()"  />
        </div>
        <div class="item_textarea">
          <label>图片：</label><input type=file name="eimg_url" style="display: none;"  id="4" onchange="ye4.value=value" />
          <input name=ye4 type="text"   id="sale_img" class="width_input" />
          <input type="button" class="file_btn" value="浏览" onclick="eimg_url.click()"  />
        </div>
      </div>
      <div class="btn_box_s">
      <input value="确定" class="confirm_btn" onclick="$('.add_img').css('display','none')" type="button"  />
      </div>
    </div>
  </div>
</div>